docs/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration" type="configurationType"/>
  <xs:simpleType name="ipv4address">
    <xs:restriction base="xs:string">
      <xs:pattern value="((1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]).){3}(1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ipv6address">
    <xs:restriction base="xs:string">
      <xs:pattern value="(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="masterType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="fqdn" type="xs:string" use="required"/>
        <xs:attribute name="hostname" type="xs:string" use="required"/>
        <!-- TODO: check that at least one of ipv4 and/or ipv6 is provided -->
        <xs:attribute name="ipv4" type="ipv4address" use="optional"/>
        <xs:attribute name="ipv6" type="ipv6address" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="slaveType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="fqdn" type="xs:string" use="required"/>
        <xs:attribute name="hostname" type="xs:string" use="required"/>
        <xs:attribute name="ipv4" type="ipv4address" use="optional"/>
        <xs:attribute name="ipv6" type="ipv6address" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="serversType">
    <xs:sequence>
      <xs:element name="master" type="masterType"/>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="slave" type="slaveType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nsupdateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <!-- TODO: use xs:restrict for types -->
        <xs:attribute name="types" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType mixed="true" name="zoneType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="nsupdate" type="nsupdateType"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="zonesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="zone" type="zoneType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametersType">
    <xs:sequence>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="ttl" type="xs:string"/>
      <xs:element name="refresh" type="xs:string"/>
      <xs:element name="retry" type="xs:string"/>
      <xs:element name="expire" type="xs:string"/>
      <xs:element name="minimum" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configurationType">
    <xs:sequence>
      <xs:element name="servers" type="serversType"/>
      <xs:element name="zones" type="zonesType"/>
      <xs:element name="parameters" type="parametersType"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
